<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <caching>
      <outputCache defaultProvider="MyCustomOutputCacheProvider">
        <providers>
          <add name="MyCustomOutputCacheProvider" type="Test.MyCustomOutputCacheProvider" />
        </providers>
      </outputCache>
    </caching>
  </system.web>
</configuration>
